.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  border: 1px solid rgb(201, 199, 199);
  padding: 0px 20px 0px 20px;
  position: relative;
}

.navbar-image img {
  height: 50px;
}

img {
  cursor: pointer;
}

.menu-icon img {
  height: 30px;
}

.menu-card {
  position: absolute;
  right: 0px;
  top: 0px;
  height: 100vh;
  width: 400px;
  max-width: 60%;
  background-color: #0095b8;
  padding: 20px;
  transform: translateX(100%);
  transition: transform 0.4s ease-in-out;
}
.menu-open-style {
  transform: translateX(0);
}

.menu-close-style {
  transform: translateX(100%);
}
.menu-close {
  padding-top: 5px;
  padding-right: 5px;
}

.menu-close img {
  height: 20px;
}

.menu-close {
  display: flex;
  justify-content: flex-end;
}

nav ul {
  padding: 0px;
  list-style-type: none;
}

nav ul li {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #fff;
  cursor: pointer;
}

nav ul li div {
  display: flex;
  align-items: center;
  gap: 10px;
}

nav ul li div img {
  height: 20px;
}

nav ul li div p {
  font-weight: 600;
  color: #fff;
  font-size: 15px;
}

nav ul li .sub-link-card {
  padding: 0px 0px 0px 30px;
}

nav ul li .sub-link-card .sub-link {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  &:last-child {
    border: none;
  }
}

nav ul li .sub-link-card .sub-link img {
  height: 20px;
}

nav ul li .sub-link-card .sub-link p {
  font-weight: 600;
  color: #fff;
  font-size: 15px;
}
